---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import FeatureShowcase from "../components/FeatureShowcase.astro";
import ProviderShowcase from "../components/ProviderShowcase.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Installation from "../components/Installation.astro";
import Metrics from "../components/Metrics.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <FeatureShowcase />
    <ProviderShowcase />
    <HowItWorks />
    <Installation />
    <Metrics />
    <FAQ />
  </main>
  <Footer />
</Layout>
