---
import Base from "../layouts/Base.astro"
import Nav from "../components/Nav.astro"
import Hero from "../components/Hero.astro"
import HowItWorks from "../components/HowItWorks.astro"
import ProviderGrid from "../components/ProviderGrid.astro"
import ConfigSection from "../components/ConfigSection.astro"
import FAQ from "../components/FAQ.astro"
import Footer from "../components/Footer.astro"
---

<Base>
  <Nav />
  <main>
    <Hero />
    <HowItWorks />
    <ProviderGrid />
    <ConfigSection />
    <FAQ />
  </main>
  <Footer />
</Base>
